.contact_option{
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
    transition: all .2s ease-in;
}
.contact_option:hover{
    transform: scale(1.02);
    background-color: rgb(228, 231, 243);
}
.contact_option > a{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* ============= FORM */
form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
/* ============== MEDIUM DEVICES ============== */
@media screen and (max-width:1024px){
  }
  
  /* ============== SMALL DEVICES ============== */
  @media screen and (max-width:600px){
    form{
        width: 100%;
        margin-top: 2rem;
    }
  }

