.pinkBox{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.peekImage{
    transform: rotate(-50deg);
}

/* MEDIUM SCREEN */
@media all and (max-width: 830px){
  .pinkBox{
  top: 40%;
  left: 50%;
}
}
/* MEDIUM SCREEN */
@media all and (max-width: 380px){
  .pinkBox{
    top: 55%;
    left: 50%;
  }
}