@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  background: linear-gradient(45deg, rgba(250,252,253,1) 0%, rgba(239,243,253,1) 100%);
}
:root{
  --color-light-brown:#fbb55f;
  --color-dark-brown:#a45c29;
  --color-dark-black:#313233;
  --color-light-black:#949598;
  --color-light-test:#f5f1ee;

}
*{
  font-family: Poppins;
}

