.wantToKnowLink{
    color:var(--color-dark-brown);
    font-weight: 600;
    font-size: 0.8rem;
}
.heroImage{
    background-color: #ffcc86;
}
.cloudLDiv{
    position: absolute;
    top: 70px;
    left: 170px;
}
.cloudRDiv{
    position: absolute;
    top: 50px;
    right: -30px;
}
.socialIcons > img{
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.socialIcons > img:hover{
    transform: scale(1.1);
}
select{
    background-color: rgba(0, 0, 0, 0.096);
}
 /* ============== MEDIUM DEVICES ============== */
 @media screen and (max-width:830px){
    .cloudLDiv{
        top: 130px;
        left: 70px;
    }
  }
 /* ============== MEDIUM DEVICES ============== */
 @media screen and (max-width:380px){
    .cloudLDiv{
        top: 80px;
        left: 70px;
    }
    .cloudRDiv{
        display: none;
    }
  }