.chatBodyDiv{
border-radius: 37px;
background: #f6dfcf;
box-shadow: inset 5px 5px 9px #c0aea1,
            inset -5px -5px 9px #faefe7;
padding: 1rem;
overflow: auto;
}
.MsgDiv {
    align-self: flex-end;
    max-width: 80%;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    word-wrap: break-word;
    border: 1px solid #999999;
  }
  
  .MsgDiv pre,.aiStyle pre {
   
    white-space: pre-wrap;
  }
  .aiStyle{
    align-self: flex-start;
    max-width: 80%;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255,0.6);
  }

  .chatBodyDiv::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .chatBodyDiv::-webkit-scrollbar-track {
    background: #f6dfcf;
    height: 8px;
    
  }
  
  .chatBodyDiv::-webkit-scrollbar-thumb {
    background: #b19c8d;
    border-radius: 10px;
  }
  
  .chatBodyDiv::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  